    footer{
		width : 100%;
		min-height : auto;
		background-color :#0b1c2d;
		color : #ffffff;
		padding : 6rem 0 6rem 0;
	}
	
	.footer_content{
		width : 100%;
		min-height : auto;
	}
	
	.footer_flex{
		width : 90%;
		display : flex;
		flex-direction : column;
		row-gap : 50px;
		column-gap : 0;
		margin-left : auto;
		margin-right : auto;
		
	}
	
	.footer_flex>div{
		flex : 1;
	}
	
	.footer_bio{
		text-align : justify;
		font-size : 1.15rem;
	}
	
	.footer_list{
		list-style-type : none;
	}
	
	.footer_list_item{
		margin : 10px 0 10px 0;
	}
	
	.footer_link{
		color : #ffffff;
		font-weight : 600;
		font-size : 1.15rem;
	}
	
	.footer_link:hover{
		color : #ffffff;
	}
	
	.icon_heading{
		font-weight : 600;
		font-size : 1.5rem;
		padding-bottom : 15px;
	}
	
	.icon_list{
		display : flex;
		flex-direction : row;
		row-gap : 0;
		column-gap : 20px;
		align-items : center;
	}
	.footer_icons{
		font-size : 2rem;
		/* padding : 0 10px 0 5rem 0; */
	}
       
	   
	.footer_icon_img{
        width : 32px;
		height : 32px;
	}
@media(MIN-WIDTH : 1025PX){

/***********************************FOOTER SECTION***********************************/
    footer{
		width : 100%;
		min-height : auto;
		background-color :#0b1c2d;
		color : #ffffff;
		padding : 6rem 0 6rem 0;
	}
	
	.footer_content{
		width : 100%;
		min-height : auto;
	}
	
	.footer_flex{
		width : 95%;
		display : flex;
		flex-direction : row;
		row-gap : 0;
		column-gap : 75px;
		margin-left : auto;
		margin-right : auto;
		
	}
	
	.footer_flex>div{
		flex : 1;
	}
	
	.footer_bio{
		text-align : justify;
		font-size : 1.05rem;
	}
	
	.footer_list{
		list-style-type : none;
	}
	
	.footer_list_item{
		margin : 10px 0 10px 0;
	}
	
	.footer_link{
		color : #ffffff;
		font-weight : 600;
		font-size : 1.05rem;
	}
	
	.footer_link:hover{
		color : #ffffff;
	}
	
	.icon_heading{
		font-weight : 600;
		font-size : 1.5rem;
		padding-bottom : 15px;
	}
	
	.icon_list{
		display : flex;
		flex-direction : row;
		row-gap : 0;
		column-gap : 20px;
		align-items : center;
	}
	.footer_icons{
		font-size : 2rem;
		/* padding : 0 10px 0 5rem 0; */
	}
       
	   
	.footer_icon_img{
        width : 32px;
		height : 32px;
	}		


/***********************************FOOTER***********************************/





}
@media(MIN-WIDTH : 1280PX){

/***********************************FOOTER SECTION***********************************/
    footer{
		width : 100%;
		min-height : auto;
		background-color :#0b1c2d;
		color : #ffffff;
		padding : 6rem 0 6rem 0;
	}
	
	.footer_content{
		width : 100%;
		min-height : auto;
	}
	
	.footer_flex{
		width : 90%;
		display : flex;
		flex-direction : row;
		row-gap : 0;
		column-gap : 100px;
		margin-left : auto;
		margin-right : auto;
		
	}
	
	.footer_flex>div{
		flex : 1;
	}
	
	.footer_bio{
		text-align : justify;
		font-size : 1.15rem;
	}
	
	.footer_list{
		list-style-type : none;
	}
	
	.footer_list_item{
		margin : 10px 0 10px 0;
	}
	
	.footer_link{
		color : #ffffff;
		font-weight : 600;
		font-size : 1.15rem;
	}
	
	.footer_link:hover{
		color : #ffffff;
	}
	
	.icon_heading{
		font-weight : 600;
		font-size : 1.5rem;
		padding-bottom : 15px;
	}
	
	.icon_list{
		display : flex;
		flex-direction : row;
		row-gap : 0;
		column-gap : 20px;
		align-items : center;
	}
	.footer_icons{
		font-size : 2rem;
		/* padding : 0 10px 0 5rem 0; */
	}
       
	   
	.footer_icon_img{
        width : 32px;
		height : 32px;
	}		


/***********************************FOOTER***********************************/





}