    .nav_section{
		width : 100%;
		background-color :#eff6ff;
		height : 80px;
		position : fixed;
		transform : translateY(-80px);
		z-index : 999;
        box-shadow : 1px 1px 3px 3px #3e3e3e4C;
		transition : transform 1.5s ease-in-out;
	}		


    .nav_section_flex{
		width : 90%;
		height : 100%;
		display : flex;
		flex-direction : row;
		justify-content : space-between;
		align-items : center;
		margin-left : auto;
		margin-right : auto;
	}
	
	.brand_icon_img{
		order : 0;
		
	}

    .brand_logo{
		width : 150px;
		height : 60px;
		transform : translateX(-25px);
	}
	

	
	#menu_bars{
		font-size : 2rem;
		color : #002D62;
		cursor : pointer;
		order : 1;
	}
	
    /* .search_form{ */
		/* width : 150px; */
		/* order : 1; */
	/* } */
	
	/* .search_input{ */
		/* border : solid 2px #002D62;  */
		/* width : 100%; */
	/* }	 */

@media(min-width : 1280px){
    .nav_section{
		width : 100%;
		background-color :#eff6ff;
		height : 80px;
		position : fixed;
		transform : translateY(-80px);
		z-index : 999;
        box-shadow : 1px 1px 3px 3px #3e3e3e4C;
		transition : transform 1.5s ease-in-out;
	}		


    .nav_section_flex{
		width : 95%;
		height : 100%;
		display : flex;
		flex-direction : row;
		justify-content : space-between;
		align-items : center;
		margin-left : auto;
		margin-right : auto;
	}
	
	.brand_icon_img{
		order : 0;
	}	

    .brand_logo{
		width : 200px;
		height : 80px;
	}
	

	
	#menu_bars{
		font-size : 2.5rem;
		color : #002D62;
		cursor : pointer;
		order : 1;
	}
	
	
    /* .search_form{ */
		/* width : 175px; */
		/* order : 2; */
	/* } */
	
	/* .search_input{ */
		/* border : solid 2px #002D62;  */
		/* width : 100%; */
	/* }  */
	
}
