         <footer>
		         <div class = "footer_content">
				     <div class = "footer_flex">
				         <div class = "footer_flex_left_item">
						     <p class = "footer_bio"> Dr. C. J. Evoh is a global policy strategist, researcher, and academic with over 15 years of experience leading multi-country interventions for the United Nations and international partners. His work focuses on employment policy, labour markets, sustainable livelihoods, crisis recovery, and inclusive growth. </p>
						 </div>
						 <div class = "footer_flex_middle_item">
						     <ul class = "footer_list">
							    <li class = "footer_list_item"> <a class = "footer_link" href = "index"> Overview </a> </li>
							    <li class = "footer_list_item"> <a class = "footer_link" href = "publication"> Research, Publications & Thought Leadership </a> </li>
							    <li class = "footer_list_item"> <a class = "footer_link" href = "academy"> Academy & Capacity Development </a> </li>
							    <li class = "footer_list_item"> <a class = "footer_link" href = "geography"> Global Engagements & Impact </a> </li>
							    <li class = "footer_list_item"> <a class = "footer_link" href = "policy-advisory"> Policy Advisory & Institutional Engagement </a> </li>
							 </ul>
						 </div>
						 <div class = "footer_flex_right_item">
						     <h3 class = "icon_heading"> Academic & Policy Platforms </h3>
							 <div class = "icon_list">
							     <a href = "https://www.facebook.com/share/1DzdqcXyVP/" class = "footer_sm_link"><i class="fab fa-facebook-f footer_icons"></i>
							     <a href = "https://www.linkedin.com/in/chijioke-j-evoh-033a3215/" class = "footer_sm_link"><i class="fab fa-linkedin-in footer_icons"></i></a>
								 <a href = "https://www.researchgate.net/profile/Chijioke-Evoh" class = "footer_sm_link"><i class="fab fa-researchgate footer_icons"></i></a>
								 <a href = "" class = "footer_sm_link"><img src = "IMAGES/twitter.webp" class = "x_icon footer_icon_img" alt = "x_icon_alt" width = "512" height = "512"></a>
								 <a href = "" class = "footer_sm_link"><img src = "IMAGES/medium.webp" class = "medium_icon footer_icon_img" alt = "medium_icon_alt" width = "512" height = "512"></a>
								 <a href = "" class = "footer_sm_link"><img src = "IMAGES/icons8-google-scholar-100.webp" class = "medium_icon footer_icon_img" alt = "medium_icon_alt" width = "512" height = "512"></a>
							 </div>
						     <!-- <p> cjevoh@gmail.com </p> -->
						 </div>
				     </div>
				 </div>		  
		  </footer>
