	      <div class = "nav_section">
		      <div class = "nav_section_flex">
			      
		          <a class = "brand_icon_img" href = "index">
		            <img src = "IMAGES/EVH45_bg.webp" class = "brand_logo img-fluid" alt = "brand_logo_alt" width = "2000" height = "800" > 
				  </a>

		          <i class="fas fa-bars" id = "menu_bars"></i>
				  
				  <!-- <form id="searchForm" class = "search_form"> -->
                       <!-- <input type="text" class = "form-control search_input" id="searchInput" placeholder="Search..." required /> -->
                  <!-- </form> -->
			  </div>
			   
		  </div>
		  
		  
		  
