<!-----------------------------------------------MOBILE MENU SECTION-------------------------------------------------->
		 <section class = "mobile_menu_section">		      			  
			  <div class = "mobile_menu_list">			  
				 <!-----LATEST PRODUCT----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_about_left_item">
				     <img src = "IMAGES/home78.png" class = "img-fluid mobile_menu_image">
                    <a class = "mobile_menu_link" href = "index" > Home   </a>
                 </div>

				 
			     <!-----KITCHEN ACCESSORIES----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_solutions_left_item">
				     <img src = "IMAGES/search-analysis4.png" class = "img-fluid mobile_menu_image kitchen_menu_image">
                    <a class = "mobile_menu_link" href = "publication" > Research, Publications & Thought Leadership </a>
                 </div>
				 
				 
				 <!-----BEDROOM ACCESSORIES----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_projects_left_item">
				     <img src = "IMAGES/global-setting.png" class = "img-fluid mobile_menu_image bedroom_menu_image">
                     <a class = "mobile_menu_link" href = "geography" > Development, Global Engagements & Impact </a>

                 </div>

				 <!------TOILET ACCESSORIES----->

                 <div class = "mobile_menu_item dropdown" id = "mobile_portfolio_left_item">
				     <img src = "IMAGES/self-development.png" class = "img-fluid mobile_menu_image ">
				    <a class = "mobile_menu_link" href = "academy" > Academy & Capacity Development </a>
					
				 </div>

                 <!-----GENERAL LISTING----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_partners_left_item">
                     <img src = "IMAGES/recovery.png" class = "img-fluid mobile_menu_image">
                     <a class = "mobile_menu_link" href = "policy-advisory" > Policy Advisory & Institutional Engagement  </a>
				 
                 </div>				 
		  
			  </div>		  
		  </section>